@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Index */

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #A4243B;
}

.icon-header {
    font-size: 90px;
    color: #FCFC3F;
}

.title-header {
    width: 300px;
    font-weight: normal;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    font-size: 50px;
    color: #A4243B;
    font-family: 'Times New Roman', Times, serif
}

.menu a {
    margin: 20px;
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #FCFC3F;
}

#burguer {
    background-color: #A4243B;
    display: none;
    color: white;
    text-align: right;
    padding: 10px;
    cursor: pointer; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #A4243B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 0;
    margin: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #9b9b9b;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.containers {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.container-section {
    max-width: 900px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 50px;
}

.container-section label {
    display: block;
}

.container-section input {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    height: 25px;
    border-radius: 20px;
    font-size: 1em;
}

.container-item {
    margin-bottom: 50px;
}

.icon-item {
    margin: 0;
    font-size: 45px;
    margin-left: 10px;
    background-color: #fff;
    padding: 11px;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item {
    background-color: #D8973C;
    display: flex;
    align-items: center;
    padding: 10px;
}

.title-item h2{
    margin: 0;
    margin-left: 30px;
    font-size: 3.3em;
}

.labels {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.labels p {
    text-align: center;
    width: 300px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dfdfdf;
    display: flex;
    margin-top: 25px;
}

.total p {
    margin: 0;
}

.salario {
    display: block;
    width: 400px;
    height: 140px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.salario h2 {
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 25px;
    text-align: center;
    color: #a6a6a6;
    background-color: #dfdfdf;
    font-family: sans-serif;
}

.salario p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.salario p input {
    text-align: center;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    font-size: 1em;
}

.gastos-totais {
    display: block;
    width: 400px;
    height: 325px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gastos-totais h2 {
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 25px;
    text-align: center;
    color: #a6a6a6;
    background-color: #dfdfdf;
    font-family: sans-serif;
}

.container-gastos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container-gastos p {
    font-size: 1em;
}

.descricao-valor {
    font-weight: bold;
    text-align: right;
}

.container-mensagem {
    margin: 0;
    margin-top: 10px;
    width: 400px;
    height: 180px;
    display: none;
    text-align: center;
    background-color: rgb(255, 67, 67);
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-mensagem h3 {
    margin: 0;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
}

.container-mensagem p {
    margin: 0;
    font-size: 1.1em;
    padding-bottom: 30px;
    padding: 10px;
}

.alerta {
    display: block;
    background-color: rgb(255, 157, 29); 
}

.negativo {
    display: block;
    background-color: rgb(255, 67, 67);
}

.positivo {
    display: block;
    background-color: rgb(75, 202, 75);
}


@media (max-width: 1371px) {
    .container-section {
        width: 700px;
    }
}

@media (max-width: 1170px) {
    .container-section {
        width: 500px;
    }
}

@media (max-width: 960px) {
    .container-section {
        width: 430px;
    }

    .salario {
        margin: 50px auto;
        width: 280px;
    }

    .gastos-totais {
        margin: 50px auto;
        width: 280px;
    }

    .container-mensagem {
        margin: 50px auto;
        width: 300px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
    #mySidenav {
      width: 0;
    }
  }

/* Index */
/* Small Sizes */
@media (max-width: 782px) { 
    .containers {
        display: block;
    }

    .container-header h1 {
        display: none;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    .icon-header {
        padding-left: 10px;
    }

    #burguer {
        margin: 0;
        display: block;
    }

    #itens a {
        text-decoration: none;
        color: #333;
    }

    /* Exiba a lista quando o menu for clicado */
    #burguer:hover + #itens,
    #itens:hover {
        display: block;
    }

    .container-section {
        width: 100%;
        margin-right: 0;
    }

    .labels {
        display: block;
        width: 100%;
    }

    .labels p {
        width: 100%;
    }

    .container-valores {
        margin: 0 auto;
        max-width: 100%;
    }

    .salario {
        width: 90%;
        margin: 0 auto;
    }

    .gastos-totais {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .container-mensagem {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}
